@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Harmattan&display=swap");
html {
  font-size: 16px;
  background-color: #e8e8e8;
  box-sizing: border-box;
  font-family: "Harmattan", Arial, Helvetica, sans-serif;
}

@media screen and (min-width: 1900px) {
  html {
    font-size: 25px;
  }
}
@media screen and (min-width: 3800px) {
  html {
    font-size: 40px;
  }
}
.d-block {
  display: block;
}

.d-none {
  display: none;
}

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #e8e8e8;
}
.header__deco {
  width: 100%;
  height: 5px;
  background-color: #575757;
}
.header__navbar {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 2.5rem;
  background-color: #e8e8e8;
  border-radius: 0.5rem;
  margin: 0 auto 0 auto;
  padding-bottom: -0.5rem;
}
.header__cartbutton {
  width: 30%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5rem;
  background-color: #575757;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  margin-right: 0.1rem;
}
.header__cartbutton:last-child {
  margin-right: 0;
}

.logo {
  width: 70%;
  margin: 1rem auto 0 auto;
}

@media screen and (min-width: 768px) {
  .header {
    position: fixed;
    top: 0;
    z-index: 1;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
  }
  .header__deco {
    width: 90%;
  }
  .header__navbar {
    width: 90%;
  }
  .header__cartbutton {
    width: 25%;
  }

  .logo {
    width: 40%;
    margin: 0 0 0 1rem;
  }
}
@media screen and (min-width: 992px) {
  .header__cartbutton {
    width: 15%;
  }

  .logo {
    width: 30%;
    margin: 0 0 0 1rem;
  }
}
.footer {
  width: 100%;
  height: 12rem;
  background-color: #e8e8e8;
}
.footer__navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
.footer__link {
  font-size: 1.5rem;
  text-align: center;
  color: #575757;
  text-decoration: none;
}
.footer__deco {
  width: 80%;
  height: 5px;
  background-color: #575757;
  margin: auto;
  border-radius: 50%;
}

@media screen and (min-width: 768px) {
  .footer__navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin: auto;
  }
  .footer__link {
    font-size: 1.8rem;
  }
}
@media screen and (min-width: 992px) {
  .footer__link {
    font-size: 2rem;
  }
}
.primarybutton {
  margin: 3rem auto 1rem auto;
  width: 80%;
  font-size: 1.5rem;
  color: #fff;
  height: 3rem;
  border: none;
  box-shadow: -3px 6px 11px 1px #000000;
  background-color: #575757;
  border-radius: 0.5rem;
  font-family: "Harmattan";
}

@media screen and (min-width: 992px) {
  .primarybutton {
    width: 60%;
  }
}
.home-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 20rem;
  height: 28rem;
  overflow: hidden;
  margin: 0 auto 1.5rem auto;
  box-shadow: 7px 7px 18px 4px #000000;
  border-radius: 1rem;
}
.home-card__deco {
  position: absolute;
  width: 100%;
  height: 100%;
}
.home-card__image-box {
  height: 18rem;
  width: 70%;
}
.home-card__image {
  object-fit: cover;
  width: 100%;
  height: 18rem;
}
.home-card__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 10rem;
  width: 70%;
  background-color: #575757;
}
.home-card__name {
  margin: 0;
}
.home-card__price {
  margin: 0;
}
.home-card__link {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .home-card {
    margin: 0 auto 3rem auto;
  }
}
@media screen and (min-width: 992px) {
  .home-card {
    margin: 0 auto 3rem auto;
    transform: scale(0.8);
  }
}
.productcard {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  margin: 2rem auto 2rem auto;
  width: 95%;
}
.productcard__image {
  height: 15rem;
  width: 100%;
  object-fit: cover;
}
.productcard__body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  font-size: 2rem;
  color: #575757;
}
.productcard__name {
  width: 60%;
  font-weight: bold;
  margin-top: 1rem;
}
.productcard__price {
  width: 40%;
  font-weight: bold;
  margin-top: 1rem;
}
.productcard__description {
  font-size: 1.5rem;
}
.productcard__options {
  font-family: "Harmattan";
  margin-top: 1rem;
  color: #fff;
  text-align: center;
  text-align-last: center;
  font-size: 1.5rem;
  width: 80%;
  border-radius: 0.5rem;
  background-color: #575757;
  box-shadow: -3px 6px 11px 1px #000000;
}
.productcard__amountbutton {
  height: 45px;
  width: 45px;
  background-color: #e8e8e8;
  border: none;
  color: #575757;
  font-size: 2.2rem;
}
.productcard__amountbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 3rem;
  margin-top: 3rem;
}
.productcard__amountinput {
  width: 3rem;
  height: 3rem;
  border: none;
  background-color: #e8e8e8;
  font-size: 1.5rem;
  font-weight: bold;
  color: #575757;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .productcard {
    margin-top: 14rem;
  }
  .productcard__image {
    width: 80%;
    height: 18rem;
  }
  .productcard__description {
    width: 80%;
  }
  .productcard__options {
    width: 51%;
  }
  .productcard__amountbar {
    width: 51%;
  }

  #cartButton {
    width: 51%;
  }
}
@media screen and (min-width: 992px) {
  .productcard {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15rem;
    width: 80%;
  }
  .productcard__body {
    width: 50%;
    padding: 0 2rem 0 2rem;
  }
  .productcard__image {
    width: 50%;
    height: 22rem;
  }
  .productcard__options {
    width: 60%;
  }
  .productcard__amountbar {
    width: 60%;
  }

  #cartButton {
    width: 60%;
  }
}
.main {
  display: flex;
  flex-direction: column;
}

.home-title {
  margin: 1rem 0.5rem 1rem 0.5rem;
  text-align: center;
  font-size: 3rem;
  color: #575757;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .main {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 12rem;
  }
}
@media screen and (min-width: 992px) {
  .main {
    margin-top: 16rem;
  }

  .home-title {
    margin-bottom: 2rem;
  }
}
.confirm {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.confirm__h1 {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  color: #575757;
  font-weight: bold;
  margin: 2rem 0 0 0;
}
.confirm__h2 {
  width: 100%;
  text-align: center;
  font-size: 1.6rem;
  color: #575757;
  font-weight: bold;
  margin: 0;
}
.confirm__buttonbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 1rem 0 1rem 0;
}
.confirm__button {
  width: 70%;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #575757;
  font-size: 1.5rem;
  padding: 0.5rem 0 0.5rem 0;
  margin-bottom: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: -3px 6px 11px 1px #000000;
}

@media screen and (min-width: 768px) {
  .confirm {
    margin-top: 15rem;
  }
  .confirm__h1 {
    margin-bottom: 3rem;
  }
  .confirm__h2 {
    margin-bottom: 7rem;
  }
  .confirm__button {
    margin-bottom: 4rem;
  }
  .confirm__buttonbar {
    margin-bottom: 5rem;
  }
}
@media screen and (min-width: 992px) {
  .confirm {
    margin-top: 17rem;
  }
  .confirm__h1 {
    margin-bottom: 2rem;
  }
  .confirm__h2 {
    margin-bottom: 3rem;
  }
  .confirm__body {
    width: 60%;
  }
  .confirm__button {
    width: 40%;
    margin-bottom: 1rem;
  }
  .confirm__buttonbar {
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 3rem;
  }
}
.cart__title {
  text-align: center;
  color: #575757;
}
.cart__headline {
  display: flex;
  justify-content: space-between;
  background-color: #575757;
  color: #fff;
  height: 30px;
  font-size: 1.3rem;
}
.cart__headcolumn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 23%;
}
.cart__headcolumnend {
  width: 8%;
  background-color: #575757;
}
.cart__body {
  display: flex;
}
.cart__bodycolumn {
  display: flex;
  flex-direction: column;
  width: 23%;
}
.cart__erasecolumn {
  display: flex;
  flex-direction: column;
  width: 8%;
}
.cart__case {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 100%;
  text-align: center;
  font-size: 1.3rem;
}
.cart__erasecase {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
}
.cart__input {
  width: 50%;
  height: 50%;
  text-align: center;
  font-weight: bold;
  color: #575757;
}
.cart__erasebutton {
  width: 20px;
  height: 20px;
  border: none;
  background-color: #e8e8e8;
}
.cart__erasebutton::before {
  width: 20px;
  height: 20px;
  color: red;
  font-family: "Font Awesome 5 Free";
  content: "";
}
.cart__footerline {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2rem;
}
.cart__totalcase {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 23%;
  text-align: center;
  color: #fff;
  background-color: #575757;
}
.cart__totalcase2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 23%;
  font-weight: bold;
  text-align: center;
}
.cart__empty {
  text-align: center;
  font-size: 2rem;
  color: #575757;
  font-weight: bold;
}
.cart__emptybutton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin: 3rem auto 4rem auto;
  text-decoration: none;
  color: #fff;
  background-color: #575757;
  box-shadow: -3px 6px 11px 1px #000000;
  border-radius: 0.5rem;
  font-size: 1.5rem;
}
.cart__orderbuttonbox {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

@media screen and (min-width: 768px) {
  .cart {
    font-size: 1.5rem;
    width: 80%;
    margin: 0 auto 0 auto;
  }
  .cart__title {
    margin-top: 14rem;
  }
  .cart__moreAmountButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: none;
    background-color: #e8e8e8;
  }
  .cart__moreAmountButton::before {
    width: 30px;
    height: 30px;
    color: #575757;
    font-size: 1.5rem;
    text-align: center;
    font-family: "Font Awesome 5 Free";
    content: "";
  }
  .cart__lessAmountButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: none;
    background-color: #e8e8e8;
  }
  .cart__lessAmountButton::before {
    width: 30px;
    height: 30px;
    color: #575757;
    font-size: 1.5rem;
    text-align: center;
    font-family: "Font Awesome 5 Free";
    content: "";
  }
  .cart__erasebutton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
  }
  .cart__erasebutton::before {
    width: 30px;
    height: 30px;
    font-size: 1.5rem;
  }
  .cart__input {
    border: none;
    background-color: #e8e8e8;
    font-size: 1.2rem;
  }
  .cart__headline {
    font-size: 1.8rem;
  }
  .cart__case {
    font-size: 1.8rem;
  }
  .cart__emptybutton {
    width: 30%;
  }
}
#orderButton {
  width: 40%;
}

@media screen and (min-width: 992px) {
  .cart {
    width: 60%;
  }
  .cart__title {
    margin-top: 18rem;
  }
  .cart__emptybutton {
    width: 20%;
  }
}/*# sourceMappingURL=style.css.map */