@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Harmattan&display=swap");
html {
  font-size: 16px;
  font-family: "Harmattan", Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (min-width: 1900px) {
  html {
    font-size: 20px;
  }
}
@media screen and (min-width: 3800px) {
  html {
    font-size: 40px;
  }
}
.d-block {
  display: block;
}

.d-none {
  display: none;
  height: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10rem;
  background-color: #e8e8e8;
  border-bottom: 2px solid #575757;
  margin: auto;
  padding: 1rem 0 1rem 0;
}
.header__navbar {
  display: flex;
  justify-content: flex-end;
  width: auto;
  height: auto;
  background-color: #e8e8e8;
}
.header__cartbutton {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
  background-color: #575757;
  border: 1px solid #fff;
  box-shadow: 5px 5px 10px 2px #000000;
  border-radius: 50%;
  margin-right: 1rem;
  transition: all 0.2s;
}
.header__cartbutton:hover {
  transform: scale(1.1);
}

.logo {
  height: auto;
  width: 40%;
  margin-left: 1rem;
}

@media screen and (min-width: 768px) {
  .header {
    position: fixed;
    top: 0;
    z-index: 1;
    height: 200px;
    padding: 0;
  }
  .header__cartbutton {
    font-size: 1.3rem;
  }
  .header__navbar {
    margin-right: 1rem;
  }
}
@media screen and (min-width: 992px) {
  .logo {
    width: 15%;
    margin-top: 0;
    margin-left: 2rem;
  }

  .header {
    height: 100px;
  }
  .header__cartbutton {
    font-size: 1rem;
  }
}
@media screen and (min-width: 1900px) {
  .header {
    height: 150px;
  }
  .header__cartbutton {
    font-size: 1rem;
  }
}
@media screen and (min-width: 3840px) {
  .header {
    height: 270px;
  }
  .header__cartbutton {
    font-size: 1rem;
    width: 100px;
    height: 100px;
  }
}
.errorPage {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 1.5rem;
  text-align: center;
  color: red;
  height: 100%;
  width: 90%;
  margin: 2rem auto 2rem auto;
}

#returnHomeButton {
  text-decoration: none;
  padding: 0 1rem 0 1rem;
  border: 1px solid white;
}

.errorButtonContainer {
  margin-top: 2rem;
}

@media screen and (min-width: 768px) {
  .errorPage {
    margin-top: 202px;
    width: 70%;
    font-size: 2rem;
  }

  #returnHomeButton {
    font-size: 2rem;
  }
}
.footer {
  width: 100%;
  background-color: #e8e8e8;
  border-top: 2px solid #575757;
  padding: 1rem 0 1rem 0;
}
.footer__navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
.footer__link {
  font-size: 1.5rem;
  text-align: center;
  color: #575757;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .footer {
    padding: 3rem 0 3rem 0;
  }
  .footer__navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin: auto;
  }
  .footer__link {
    font-size: 1.8rem;
  }
}
@media screen and (min-width: 992px) {
  .footer {
    padding: 2rem 0 2rem 0;
  }

  .footer__link {
    font-size: 1.5rem;
  }
}
.primarybutton {
  margin: 3rem auto 1rem auto;
  cursor: pointer;
  width: 80%;
  font-size: 1.5rem;
  color: #fff;
  height: 3rem;
  border: none;
  box-shadow: -3px 6px 11px 1px #000000;
  background-color: #575757;
  border-radius: 0.5rem;
  border: 1px solid white;
  font-family: "Harmattan";
  transition: all 0.3s;
}
.primarybutton:hover {
  transform: scale(1.1);
  opacity: 0.7;
}

@media screen and (min-width: 992px) {
  .primarybutton {
    width: 60%;
  }
}
.loaders {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  align-items: center;
  margin: 0;
  z-index: 1;
  background-color: #e8e8e8;
  opacity: 1;
}

.hide {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  align-items: center;
  margin: 0;
  z-index: 1;
  background-color: #e8e8e8;
  opacity: 1;
  animation: hiden 1s forwards;
}

@keyframes hiden {
  100% {
    z-index: -1;
    opacity: 0;
    display: none;
  }
}
.home-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 15rem;
  height: 23rem;
  overflow: hidden;
  margin: 0 auto 3.5rem auto;
  border-radius: 15px;
}
.home-card::before {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  font-size: 1.4rem;
  color: #fff;
  left: 0px;
  transform: translateX(-400px);
  content: "Cliquez pour plus de détails !";
  transition: all 0.4s;
}
.home-card:hover::before {
  transform: translateX(0);
  opacity: 0.8;
  background-color: #575757;
}
.home-card__image-box {
  height: 13rem;
  width: 100%;
}
.home-card__image {
  object-fit: cover;
  width: 100%;
  height: 13rem;
}
.home-card__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 10rem;
  width: 100%;
  background-color: #e8e8e8;
}
.home-card__name {
  margin: 0;
}
.home-card__price {
  margin: 0;
}
.home-card__rating {
  color: #f0a504;
}
.home-card__link {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  color: #575757;
}

@media screen and (min-width: 768px) {
  .home-card {
    flex-direction: row;
    width: 80%;
    height: 15rem;
  }
  .home-card__image-box {
    height: 15rem;
    width: 60%;
  }
  .home-card__image {
    width: 100%;
    height: 15rem;
  }
  .home-card__body {
    height: 15rem;
    width: 40%;
  }
}
@media screen and (min-width: 992px) {
  .home-card {
    width: 100%;
  }
  .home-card__link {
    width: 40%;
  }
}
@media screen and (min-width: 1280px) {
  .home-card {
    height: 10rem;
    margin: 0;
  }
  .home-card__link {
    margin: 0;
    width: 22%;
    height: 10rem;
  }
  .home-card__image-box {
    height: 10rem;
    width: 50%;
  }
  .home-card__image {
    width: 100%;
    height: 10rem;
  }
  .home-card__body {
    height: 10rem;
    width: 50%;
  }
}
.productcard {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  margin: 2rem auto 2rem auto;
  width: 95%;
}
.productcard__main {
  height: auto;
}
.productcard__image {
  height: 15rem;
  width: 100%;
  object-fit: cover;
}
.productcard__body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  font-size: 2rem;
  color: #575757;
}
.productcard__name {
  width: 60%;
  font-weight: bold;
  margin-top: 1rem;
}
.productcard__price {
  width: 40%;
  font-weight: bold;
  margin-top: 1rem;
}
.productcard__description {
  font-size: 1.5rem;
}
.productcard__options {
  font-family: "Harmattan";
  color: #fff;
  cursor: pointer;
  text-align: center;
  text-align-last: center;
  font-size: 1.5rem;
  width: 50%;
  border: 1px solid white;
  border-radius: 0.5rem;
  background-color: #575757;
  box-shadow: -3px 6px 11px 1px #000000;
}
.productcard__optionscontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 1rem;
}
.productcard__amountbutton {
  height: 45px;
  width: 45px;
  cursor: pointer;
  background-color: #fff;
  border: none;
  color: #575757;
  font-size: 2.2rem;
  transition: all 0.2s;
}
.productcard__amountbutton:hover {
  transform: scale(1.02);
  box-shadow: -3px 6px 11px 1px #000000;
  background-color: #575757;
  color: #fff;
  border: 1px solid white;
  border-radius: 0.5rem;
}
.productcard__amountbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 3rem;
  margin-top: 3rem;
}
.productcard__amountinput {
  width: 3rem;
  height: 3rem;
  border: none;
  background-color: #e8e8e8;
  font-size: 1.5rem;
  font-weight: bold;
  color: #575757;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .productcard {
    margin-top: 242px;
  }
  .productcard__image {
    width: 80%;
    height: 18rem;
  }
  .productcard__description {
    width: 80%;
  }
  .productcard__options {
    width: 51%;
  }
  .productcard__optionscontainer {
    width: 60%;
    font-size: 1.8rem;
  }
  .productcard__amountbar {
    width: 51%;
    margin-top: 2rem;
  }

  #cartButton {
    width: 51%;
    margin-top: 2rem;
  }
}
@media screen and (min-width: 992px) {
  .productcard {
    margin-top: 14rem;
    margin-bottom: 6rem;
  }
  .productcard__image {
    width: 80%;
    height: 30rem;
  }
}
@media screen and (min-width: 1280px) {
  .productcard {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 16rem;
    margin-bottom: 6rem;
    width: 90%;
  }
  .productcard__body {
    width: 50%;
    padding: 0 2rem 0 2rem;
  }
  .productcard__image {
    width: 50%;
    height: 22rem;
  }
  .productcard__options {
    width: 40%;
  }
  .productcard__description {
    width: 90%;
  }
  .productcard__optionscontainer {
    width: 60%;
  }
  .productcard__amountbar {
    width: 60%;
    margin-top: 1rem;
  }

  #cartButton {
    width: 60%;
    margin-top: 1rem;
  }
}
@media screen and (min-width: 1280px) {
  .productcard {
    margin-top: 10rem;
    margin-bottom: 0.5rem;
  }
  .productcard__options {
    width: 50%;
  }
  .productcard__optionscontainer {
    width: 70%;
  }
}
@media screen and (min-width: 1440px) {
  .productcard {
    margin-top: 16rem;
    margin-bottom: 6rem;
  }
}
@media screen and (min-width: 1920px) {
  .productcard {
    margin-top: 15rem;
  }
  .productcard__options {
    width: 50%;
  }
  .productcard__optionscontainer {
    width: 70%;
  }
}
@media screen and (min-width: 3840px) {
  .productcard {
    margin-top: 17.5rem;
  }
  .productcard__optionscontainer {
    width: 60%;
  }
}
.main {
  display: flex;
  flex-direction: column;
}

.home-title {
  margin: 1rem auto 1rem auto;
  text-align: center;
  font-size: 2rem;
  width: 90%;
  color: #575757;
  text-shadow: 0 1px 0 #cccccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15), 2px 2px 4px rgba(206, 89, 55, 0);
}

@media screen and (min-width: 768px) {
  .main {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 202px;
  }

  .home-title {
    font-size: 2.5rem;
    margin: 2rem auto 2rem auto;
  }
}
@media screen and (min-width: 992px) {
  .home-title {
    font-size: 2.8rem;
  }

  .main {
    margin-top: 102px;
    height: 100%;
  }
}
@media screen and (min-width: 1920px) {
  .home-title {
    font-size: 2.8rem;
  }

  .main {
    margin-top: 152px;
  }
}
@media screen and (min-width: 3840px) {
  .main {
    margin-top: 272px;
  }
}
.confirm {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-bottom: 2rem;
}
.confirm__h1 {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  color: #575757;
  font-weight: bold;
  margin: 2rem 0 0 0;
}
.confirm__h2 {
  width: 100%;
  text-align: center;
  font-size: 1.6rem;
  color: #575757;
  font-weight: bold;
  margin: 0;
}
.confirm__buttonbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 1rem 0 1rem 0;
}
.confirm__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  text-align: center;
  text-decoration: none;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 768px) {
  .confirm {
    margin-top: 13rem;
    margin-bottom: 0;
  }
  .confirm__h1 {
    margin-bottom: 3rem;
  }
  .confirm__h2 {
    margin-bottom: 3rem;
  }
  .confirm__button {
    margin-bottom: 4rem;
  }
  .confirm__buttonbar {
    margin-bottom: 5rem;
  }
}
@media screen and (min-width: 992px) {
  .confirm {
    margin-top: 15rem;
  }
  .confirm__h1 {
    margin-bottom: 2rem;
  }
  .confirm__h2 {
    margin-bottom: 3rem;
  }
  .confirm__body {
    width: 60%;
  }
  .confirm__button {
    width: 40%;
    margin-bottom: 1rem;
  }
  .confirm__buttonbar {
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 3rem;
  }
}
@media screen and (min-width: 1280px) {
  .confirm {
    margin-top: 11rem;
  }
}
@media screen and (min-width: 1440px) {
  .confirm {
    margin-top: 16rem;
    margin-bottom: 5rem;
  }
}
#cartPage {
  margin-bottom: 5rem;
}

.cart__title {
  margin-top: 3rem;
  text-align: center;
  color: #575757;
  font-size: 2rem;
}
.cart__headline {
  display: flex;
  justify-content: space-between;
  background-color: #575757;
  color: #fff;
  height: 40px;
  font-size: 1.3rem;
}
.cart__headcolumn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 23%;
}
.cart__headcolumnend {
  width: 8%;
  background-color: #575757;
}
.cart__body {
  display: flex;
  flex-direction: column;
}
.cart__product {
  display: flex;
  width: 100%;
}
.cart__erasecolumn {
  display: flex;
  flex-direction: column;
  width: 8%;
}
.cart__case {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65px;
  width: 23%;
  text-align: center;
  font-size: 1.3rem;
}
.cart__amountcase {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 65px;
  width: 23%;
  text-align: center;
  font-size: 1.3rem;
}
.cart__erasecase {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8%;
  height: 65px;
}
.cart__erasebutton {
  cursor: pointer;
  width: 20px;
  height: 20px;
  border: none;
  background-color: #fff;
}
.cart__erasebutton::before {
  width: 20px;
  height: 20px;
  color: red;
  font-family: "Font Awesome 5 Free";
  content: "";
}
.cart__option {
  width: 100%;
  text-align: center;
  color: #575757;
  font-size: 1.3rem;
  border-bottom: 1px solid #575757;
}
.cart__footerline {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2rem;
}
.cart__totalcase {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 23%;
  text-align: center;
  font-size: 1.3rem;
  color: #fff;
  background-color: #575757;
}
.cart__totalcase2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 23%;
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
}
.cart__emptybutton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin: 3rem auto 5rem auto;
  text-decoration: none;
  color: #fff;
  background-color: #575757;
  box-shadow: -3px 6px 11px 1px #000000;
  border-radius: 0.5rem;
  font-size: 1.5rem;
}
.cart__orderbuttonbox {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}
.cart__moreAmountButton {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: none;
  background-color: #fff;
}
.cart__moreAmountButton::before {
  width: 30px;
  height: 30px;
  color: #575757;
  font-size: 1.5rem;
  text-align: center;
  font-family: "Font Awesome 5 Free";
  content: "";
}
.cart__lessAmountButton {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: none;
  background-color: #fff;
}
.cart__lessAmountButton::before {
  width: 30px;
  height: 30px;
  color: #575757;
  font-size: 1.5rem;
  text-align: center;
  font-family: "Font Awesome 5 Free";
  content: "";
}

#emptyCart {
  margin-top: 11rem;
  margin-bottom: 11rem;
}

@media screen and (min-width: 768px) {
  .cart {
    font-size: 1.5rem;
    width: 80%;
    margin: 0 auto 0 auto;
  }
  .cart__title {
    font-size: 2.5rem;
  }
  .cart__erasebutton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
  }
  .cart__erasebutton::before {
    width: 30px;
    height: 30px;
    font-size: 1.5rem;
  }
  .cart__headline {
    font-size: 1.8rem;
  }
  .cart__case {
    font-size: 1.8rem;
    height: 100px;
  }
  .cart__amountcase {
    font-size: 1.8rem;
    height: 100px;
  }
  .cart__erasecase {
    font-size: 1.8rem;
    height: 100px;
  }
  .cart__emptybutton {
    width: 30%;
  }
  .cart__option {
    font-size: 1.5rem;
  }
  .cart__totalcase {
    height: 2.5rem;
    width: 23%;
    font-size: 1.8rem;
  }
  .cart__totalcase2 {
    height: 2.5rem;
    width: 23%;
    font-size: 1.8rem;
  }

  #orderButton {
    width: 40%;
  }

  #cartPage {
    margin-top: 17rem;
    margin-bottom: 6rem;
  }

  #emptyCart {
    margin-top: 25rem;
    margin-bottom: 18rem;
  }

  .errorMessageShow {
    font-size: 1.5rem;
    text-align: right;
    margin-right: 1.5rem;
  }
}
@media screen and (min-width: 992px) {
  .cart {
    width: 60%;
  }
  .cart__title {
    font-size: 3rem;
  }
  .cart__emptybutton {
    width: 20%;
  }

  #cartPage {
    margin-top: 11rem;
    margin-bottom: 1rem;
  }

  #emptyCart {
    margin-top: 15rem;
    margin-bottom: 8rem;
  }
}
@media screen and (min-width: 1440px) {
  .cart {
    font-size: 2rem;
  }
  .cart__title {
    font-size: 3rem;
  }
  .cart__option {
    font-size: 1.8rem;
  }
  .cart__headline {
    height: 3rem;
  }

  #emptyCart {
    margin-top: 20rem;
    margin-bottom: 13rem;
  }
}
input {
  height: 2rem;
  width: 100%;
  border: 1px solid #575757;
  padding: 0 2rem 0 2rem;
  border-radius: 0.3rem;
  font-size: 1.2rem;
  font-family: "Harmattan";
}

.inputName {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  padding: 0 2rem 0 2rem;
  height: 2rem;
  margin-top: 1rem;
  font-size: 1.2rem;
}

.notation {
  width: 100%;
  margin-top: 1rem;
  text-align: center;
}

textarea {
  border: 1px solid #575757;
  border-radius: 0.3rem;
  width: 100%;
}

.validInput {
  background: url(checkok.webp) 92% center no-repeat;
  background-color: #ffffff;
  color: #01cc01;
  border-color: #01cc01;
  transition: all 0.1s;
}

.invalidInput {
  background-color: #fadfdf;
  color: red;
  border-color: red;
  box-shadow: -3px 6px 11px 1px #888888;
  transition: all 0.1s;
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  align-items: center;
  font-family: "Harmattan";
  box-sizing: border-box;
  margin: auto;
}

#address {
  font-family: "Harmattan";
  font-size: 1.2rem;
  align-content: center;
  padding: 0 2rem 0 2rem;
  max-height: 2rem;
  min-width: 100%;
  overflow: auto;
}

#validform {
  width: 40%;
  margin-top: 0.5rem;
}

#formtitle {
  text-align: center;
  color: #575757;
  margin: 0.5rem 0 0 0;
}

.errorMessageHide {
  transform: scale(0);
  transition: all 0.2s;
  z-index: -9999;
  height: 0;
}

.errorMessageShow {
  width: 100%;
  z-index: 1;
  color: red;
  text-align: center;
  margin-top: 0.5rem;
  transform: scale(1);
  transition: all 0.2s;
}

@media screen and (min-width: 768px) {
  .formContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  #address {
    font-family: "Harmattan";
    font-size: 1.8rem;
    align-content: center;
    padding: 0 2rem 0 2rem;
    min-height: 3rem;
    overflow: auto;
    max-width: 60%;
    min-width: 60%;
    margin-top: 1rem;
  }

  input {
    height: 3rem;
    width: 60%;
    border: 1px solid #575757;
    padding: 0 2rem 0 2rem;
    border-radius: 0.3rem;
    font-size: 1.8rem;
    margin-top: 1rem;
  }

  .inputName {
    justify-content: flex-start;
    align-content: center;
    width: 25%;
    padding: 1px 0 1px 0;
    height: 3rem;
    margin-top: 1rem;
    font-size: 1.8rem;
  }

  #formtitle {
    font-size: 2.5rem;
  }

  #emptyFormMessage {
    font-size: 1.8rem;
  }

  .notation {
    width: 100%;
    margin-top: 1rem;
    text-align: center;
    font-size: 1.4rem;
  }

  #orderPage {
    margin: 13rem auto 0 auto;
  }

  .errorMessageShow {
    text-align: right;
  }

  #emptyFormMessage {
    text-align: center;
  }
}
@media screen and (min-width: 992px) {
  #formtitle {
    font-size: 2rem;
  }

  #orderPage {
    margin: 11rem auto 0 auto;
  }

  .formContainer {
    font-size: 1.5rem;
    width: 45%;
  }

  .inputName {
    width: 30%;
    font-size: 1.8rem;
  }

  input {
    height: 3rem;
    width: 50%;
  }

  #address {
    max-width: 50%;
    min-width: 50%;
  }
}
@media screen and (min-width: 1280px) {
  #formtitle {
    font-size: 3rem;
  }

  #orderPage {
    margin: 12rem auto 0 auto;
  }

  #address {
    font-size: 1.2rem;
    min-height: 2rem;
  }

  input {
    height: 2rem;
    font-size: 1.2rem;
  }

  .inputName {
    height: 2rem;
    font-size: 1.2rem;
  }
}
#confirmTitle {
  text-align: center;
  color: #575757;
}

#orderId {
  color: #575757;
  font-size: 1.2rem;
  text-align: center;
}

#bill {
  color: #575757;
  font-size: 1.2rem;
  text-align: center;
}

@media screen and (min-width: 768px) {
  #confirmTitle {
    margin-top: 16rem;
  }

  #confirmContainer {
    width: 80%;
    margin: auto;
    margin-bottom: 5rem;
  }

  #orderId {
    font-size: 1.5rem;
  }

  #bill {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 992px) {
  #confirmTitle {
    margin-top: 20rem;
  }

  #confirmContainer {
    width: 50%;
    margin: auto;
    margin-bottom: 5rem;
  }
}/*# sourceMappingURL=style.css.map */