html {
	max-width: 1440px;
	margin: auto;
}
.card-img-top {
	object-fit: cover;
	height: 15rem;
}
.card {
	border-radius: 1rem;
}
.Dark.Oak {
	background-color: #55342b !important;
	color: #ffffff;
}
.Light.Oak {
	background-color: #a66554;
	color: #ffffff;
}
.Black {
	background-color: #000000;
	color: #ffffff;
}
.Chocolate {
	background-color: chocolate;
}
.Tan {
	background-color: tan;
}
.Teak {
	background-color: #ab8953;
}
.Mahogany {
	background-color: #82495a;
	color: #ffffff;
}
.br1 {
	border-radius: 0.6rem;
}
.br2 {
	border-radius: 1.5rem;
}
#product__main__image {
	object-fit: cover;
	height: auto;
}
.container-height {
	height: 63vh;
}
.height-0 {
	display: none;
	opacity: 0;
	transform: translateY(-120px);
	transition: all 5s;
}
.height-1 {
	display: flex;
	height: auto;
	opacity: 1;
	transform: translatey(0);
	transition: all 5s;
}
.box {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100px;
}
.amount__input {
	width: 20%;
}
.moreAndLessAmountButtons {
	width: 50px;
	height: 50px;
}
.moreAndLessAmountButtons-sm {
	width: 25px;
	height: 40px;
}
