.cart {
	&__title {
		text-align: center;
		color: $secondary;
	}
	&__headline {
		display: flex;
		justify-content: space-between;
		background-color: $secondary;
		color: $tertiary;
		height: 40px;
		font-size: 1.3rem;
	}
	&__headcolumn {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 23%;
	}
	&__headcolumnend {
		width: 8%;
		background-color: $secondary;
	}
	&__body {
		display: flex;
		flex-direction: column;
	}
	&__product {
		display: flex;
		width: 100%;
	}
	&__erasecolumn {
		display: flex;
		flex-direction: column;
		width: 8%;
	}
	&__case {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 65px;
		width: 23%;
		text-align: center;
		font-size: 1.3rem;
	}
	&__erasecase {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 8%;
		height: 65px;
	}
	&__erasebutton {
		width: 20px;
		height: 20px;
		border: none;
		background-color: $primary;
		&::before {
			width: 20px;
			height: 20px;
			color: red;
			font-family: "Font Awesome 5 Free";
			content: "\f2ed";
		}
	}
	&__option {
		width: 100%;
		text-align: center;
		color: $secondary;
		font-size: 1.3rem;
		border-bottom: 1px solid $secondary;
	}
	&__footerline {
		display: flex;
		justify-content: flex-end;
		margin-bottom: 2rem;
	}
	&__totalcase {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 30px;
		width: 23%;
		text-align: center;
		font-size: 1.3rem;
		color: $tertiary;
		background-color: $secondary;
	}
	&__totalcase2 {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 30px;
		width: 23%;
		font-size: 1.3rem;
		font-weight: bold;
		text-align: center;
	}
	&__empty {
		text-align: center;
		font-size: 2rem;
		color: $secondary;
		font-weight: bold;
	}
	&__emptybutton {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 60%;
		margin: 3rem auto 4rem auto;
		text-decoration: none;
		color: $tertiary;
		background-color: $secondary;
		box-shadow: -3px 6px 11px 1px #000000;
		border-radius: 0.5rem;
		font-size: 1.5rem;
	}
	&__orderbuttonbox {
		width: 100%;
		display: flex;
		justify-content: center;
		margin-bottom: 2rem;
	}
	&__moreAmountButton {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 30px;
		height: 30px;
		border: none;
		background-color: $primary;
		&::before {
			width: 30px;
			height: 30px;
			color: $secondary;
			font-size: 1.5rem;
			text-align: center;
			font-family: "Font Awesome 5 Free";
			content: "\f0fe";
		}
	}
	&__lessAmountButton {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 30px;
		height: 30px;
		border: none;
		background-color: $primary;
		&::before {
			width: 30px;
			height: 30px;
			color: $secondary;
			font-size: 1.5rem;
			text-align: center;
			font-family: "Font Awesome 5 Free";
			content: "\f146";
		}
	}
}
@media screen and(min-width: 768px) {
	.cart {
		font-size: 1.5rem;
		width: 80%;
		margin: 0 auto 0 auto;
		&__title {
			margin-top: 14rem;
		}
		&__erasebutton {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 30px;
			height: 30px;
			&::before {
				width: 30px;
				height: 30px;
				font-size: 1.5rem;
			}
		}
		&__input {
			border: none;
			background-color: $primary;

			font-size: 1.2rem;
		}
		&__headline {
			font-size: 1.8rem;
		}
		&__case {
			font-size: 1.8rem;
		}
		&__emptybutton {
			width: 30%;
		}
	}
}
#orderButton {
	width: 40%;
}
@media screen and(min-width: 992px) {
	.cart {
		width: 60%;
		&__title {
			margin-top: 18rem;
		}
		&__emptybutton {
			width: 20%;
		}
	}
}
