#cartPage {
	margin-bottom: 5rem;
}
.cart {
	&__title {
		margin-top: 3rem;
		text-align: center;
		color: $secondary;
		font-size: 2rem;
	}
	&__headline {
		display: flex;
		justify-content: space-between;
		background-color: $secondary;
		color: $tertiary;
		height: 40px;
		font-size: 1.3rem;
	}
	&__headcolumn {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 23%;
	}
	&__headcolumnend {
		width: 8%;
		background-color: $secondary;
	}
	&__body {
		display: flex;
		flex-direction: column;
	}
	&__product {
		display: flex;
		width: 100%;
	}
	&__erasecolumn {
		display: flex;
		flex-direction: column;
		width: 8%;
	}
	&__case {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 65px;
		width: 23%;
		text-align: center;
		font-size: 1.3rem;
	}
	&__amountcase {
		display: flex;
		justify-content: space-around;
		align-items: center;
		height: 65px;
		width: 23%;
		text-align: center;
		font-size: 1.3rem;
	}
	&__erasecase {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 8%;
		height: 65px;
	}
	&__erasebutton {
		cursor: pointer;
		width: 20px;
		height: 20px;
		border: none;
		background-color: $tertiary;
		&::before {
			width: 20px;
			height: 20px;
			color: red;
			font-family: "Font Awesome 5 Free";
			content: "\f2ed";
		}
	}
	&__option {
		width: 100%;
		text-align: center;
		color: $secondary;
		font-size: 1.3rem;
		border-bottom: 1px solid $secondary;
	}
	&__footerline {
		display: flex;
		justify-content: flex-end;
		margin-bottom: 2rem;
	}
	&__totalcase {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 30px;
		width: 23%;
		text-align: center;
		font-size: 1.3rem;
		color: $tertiary;
		background-color: $secondary;
	}
	&__totalcase2 {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 30px;
		width: 23%;
		font-size: 1.3rem;
		font-weight: bold;
		text-align: center;
	}
	&__emptybutton {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 60%;
		margin: 3rem auto 5rem auto;
		text-decoration: none;
		color: $tertiary;
		background-color: $secondary;
		box-shadow: -3px 6px 11px 1px #000000;
		border-radius: 0.5rem;
		font-size: 1.5rem;
	}
	&__orderbuttonbox {
		width: 100%;
		display: flex;
		justify-content: center;
		margin-bottom: 2rem;
	}
	&__moreAmountButton {
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 30px;
		height: 30px;
		border: none;
		background-color: $tertiary;
		&::before {
			width: 30px;
			height: 30px;
			color: $secondary;
			font-size: 1.5rem;
			text-align: center;
			font-family: "Font Awesome 5 Free";
			content: "\f0fe";
		}
	}
	&__lessAmountButton {
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 30px;
		height: 30px;
		border: none;
		background-color: $tertiary;
		&::before {
			width: 30px;
			height: 30px;
			color: $secondary;
			font-size: 1.5rem;
			text-align: center;
			font-family: "Font Awesome 5 Free";
			content: "\f146";
		}
	}
}
#emptyCart {
	margin-top: 11rem;
	margin-bottom: 11rem;
}

@media screen and(min-width: 768px) {
	.cart {
		font-size: 1.5rem;
		width: 80%;
		margin: 0 auto 0 auto;
		&__title {
			font-size: 2.5rem;
		}
		&__erasebutton {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 30px;
			height: 30px;
			&::before {
				width: 30px;
				height: 30px;
				font-size: 1.5rem;
			}
		}
		&__headline {
			font-size: 1.8rem;
		}
		&__case {
			font-size: 1.8rem;
			height: 100px;
		}
		&__amountcase {
			font-size: 1.8rem;
			height: 100px;
		}
		&__erasecase {
			font-size: 1.8rem;
			height: 100px;
		}
		&__emptybutton {
			width: 30%;
		}
		&__option {
			font-size: 1.5rem;
		}
		&__totalcase {
			height: 2.5rem;
			width: 23%;
			font-size: 1.8rem;
		}
		&__totalcase2 {
			height: 2.5rem;
			width: 23%;
			font-size: 1.8rem;
		}
	}
	#orderButton {
		width: 40%;
	}
	#cartPage {
		margin-top: 17rem;
		margin-bottom: 6rem;
	}
	#emptyCart {
		margin-top: 25rem;
		margin-bottom: 18rem;
	}
	.errorMessageShow {
		font-size: 1.5rem;
		text-align: right;
		margin-right: 1.5rem;
	}
}

@media screen and(min-width: 992px) {
	.cart {
		width: 60%;
		&__title {
			font-size: 3rem;
		}
		&__emptybutton {
			width: 20%;
		}
	}
	#cartPage {
		margin-top: 11rem;
		margin-bottom: 1rem;
	}
	#emptyCart {
		margin-top: 15rem;
		margin-bottom: 8rem;
	}
}
@media screen and(min-width: 1440px) {
	.cart {
		font-size: 2rem;
		&__title {
			font-size: 3rem;
		}
		&__option {
			font-size: 1.8rem;
		}
		&__headline {
			height: 3rem;
		}
	}
	#emptyCart {
		margin-top: 20rem;
		margin-bottom: 13rem;
	}
}

input {
	height: 2rem;
	width: 100%;
	border: 1px solid $secondary;
	padding: 0 2rem 0 2rem;
	border-radius: 0.3rem;
	font-size: 1.2rem;
	font-family: $font-family-base;
}
.inputName {
	display: flex;
	justify-content: center;
	align-content: center;
	width: 100%;
	padding: 0 2rem 0 2rem;
	height: 2rem;
	margin-top: 1rem;
	font-size: 1.2rem;
}
.notation {
	width: 100%;
	margin-top: 1rem;
	text-align: center;
}

textarea {
	border: 1px solid $secondary;
	border-radius: 0.3rem;
	width: 100%;
}
.validInput {
	background: url(checkok.webp) 92% center no-repeat;

	background-color: #ffffff;
	color: rgb(1, 204, 1);
	border-color: rgb(1, 204, 1);
	transition: all 0.1s;
}
.invalidInput {
	background-color: #fadfdf;
	color: red;
	border-color: red;
	box-shadow: -3px 6px 11px 1px #888888;
	transition: all 0.1s;
}

.formContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 70%;
	align-items: center;
	font-family: $font-family-base;
	box-sizing: border-box;
	margin: auto;
}

#address {
	font-family: $font-family-base;
	font-size: 1.2rem;
	align-content: center;
	padding: 0 2rem 0 2rem;
	max-height: 2rem;
	min-width: 100%;
	overflow: auto;
}

#validform {
	width: 40%;
	margin-top: 0.5rem;
}
#formtitle {
	text-align: center;
	color: $secondary;
	margin: 0.5rem 0 0 0;
}
.errorMessageHide {
	transform: scale(0);
	transition: all 0.2s;
	z-index: -9999;
	height: 0;
}
.errorMessageShow {
	width: 100%;
	z-index: 1;
	color: red;
	text-align: center;
	margin-top: 0.5rem;
	transform: scale(1);
	transition: all 0.2s;
}

@media screen and(min-width: 768px) {
	.formContainer {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		width: 100%;
	}
	#address {
		font-family: $font-family-base;
		font-size: 1.8rem;
		align-content: center;
		padding: 0 2rem 0 2rem;
		min-height: 3rem;
		overflow: auto;
		max-width: 60%;
		min-width: 60%;
		margin-top: 1rem;
	}
	input {
		height: 3rem;
		width: 60%;
		border: 1px solid $secondary;
		padding: 0 2rem 0 2rem;
		border-radius: 0.3rem;
		font-size: 1.8rem;
		margin-top: 1rem;
	}
	.inputName {
		justify-content: flex-start;
		align-content: center;
		width: 25%;
		padding: 1px 0 1px 0;
		height: 3rem;
		margin-top: 1rem;
		font-size: 1.8rem;
	}
	#formtitle {
		font-size: 2.5rem;
	}

	#emptyFormMessage {
		font-size: 1.8rem;
	}
	.notation {
		width: 100%;
		margin-top: 1rem;
		text-align: center;
		font-size: 1.4rem;
	}
	#orderPage {
		margin: 13rem auto 0 auto;
	}
	.errorMessageShow {
		text-align: right;
	}
	#emptyFormMessage {
		text-align: center;
	}
}
@media screen and(min-width: 992px) {
	#formtitle {
		font-size: 2rem;
	}
	#orderPage {
		margin: 11rem auto 0 auto;
	}
	.formContainer {
		font-size: 1.5rem;
		width: 45%;
	}
	.inputName {
		width: 30%;
		font-size: 1.8rem;
	}
	input {
		height: 3rem;
		width: 50%;
	}
	#address {
		max-width: 50%;
		min-width: 50%;
	}
}
@media screen and(min-width: 1280px) {
	#formtitle {
		font-size: 3rem;
	}
	#orderPage {
		margin: 12rem auto 0 auto;
	}
	#address {
		font-size: 1.2rem;
		min-height: 2rem;
	}
	input {
		height: 2rem;

		font-size: 1.2rem;
	}
	.inputName {
		height: 2rem;
		font-size: 1.2rem;
	}
}
