#confirmTitle {
	text-align: center;
	color: $secondary;
}
#orderId {
	color: $secondary;
	font-size: 1.2rem;
	text-align: center;
}
#bill {
	color: $secondary;
	font-size: 1.2rem;
	text-align: center;
}

@media screen and(min-width: 768px) {
	#confirmTitle {
		margin-top: 16rem;
	}
	#confirmContainer {
		width: 80%;
		margin: auto;
		margin-bottom: 5rem;
	}
	#orderId {
		font-size: 1.5rem;
	}
	#bill {
		font-size: 1.5rem;
	}
}
@media screen and(min-width: 992px) {
	#confirmTitle {
		margin-top: 20rem;
	}
	#confirmContainer {
		width: 50%;
		margin: auto;
		margin-bottom: 5rem;
	}
}
