.errorPage {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	font-size: 1.5rem;
	text-align: center;
	color: red;
	height: 100%;
	width: 90%;
	margin: 2rem auto 2rem auto;
}
#returnHomeButton {
	text-decoration: none;
	padding: 0 1rem 0 1rem;
	border: 1px solid white;
}
.errorButtonContainer {
	margin-top: 2rem;
}
@media screen and(min-width: 768px) {
	.errorPage {
		margin-top: 202px;
		width: 70%;
		font-size: 2rem;
	}
	#returnHomeButton {
		font-size: 2rem;
	}
}
