.footer {
	width: 100%;
	background-color: $primary;
	border-top: 2px solid $secondary;
	padding: 1rem 0 1rem 0;
	&__navbar {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		height: 100%;
	}
	&__link {
		font-size: 1.5rem;
		text-align: center;
		color: $secondary;
		text-decoration: none;
	}
}

@media screen and(min-width: 768px) {
	.footer {
		padding: 3rem 0 3rem 0;
		&__navbar {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			width: 80%;
			margin: auto;
		}
		&__link {
			font-size: 1.8rem;
		}
	}
}
@media screen and(min-width: 992px) {
	.footer {
		padding: 2rem 0 2rem 0;
	}
	.footer__link {
		font-size: 1.5rem;
	}
}
@media screen and(min-width: 768px) {
}
